<header> 
	<h1> Andrew Carr</h1>
	<h1> Web Developer </h1>
	<nav>
		<ul>
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>
		</ul>
	</nav>
</header>
<section>
	<p>Gallery goes here</p>
</section>
<footer>
	<p>&copy; 2015 Andrew Carr </p>	
</footer>